$font: 'Roboto', sans-serif;

$dark: #1C1B16;
$dark0: rgba(255, 255, 255, 0);
$dark0-5: rgba(0, 0, 0, 0.51);
$white0: #F9F5E1;
$white0-5: rgba(249, 245, 225, 0.5);
$yellow: #F2DD22;
$orange: #F25322;
$orange1: #D23E11;
$orange2: #CC390B;
$orange0-1: rgba(242, 83, 34, 0.81);
$orange0-2: rgba(155, 47, 14, 0.81);
